@font-face { 
	font-family: 'Tibetan Machine Uni WF'; 
	font-style: normal; 
	font-weight: normal; 
	src: url(fonts/TibMachUni-1.901.woff); 
	} 

[lang='bo'] { 
	font-family: 'Tibetan Machine Uni WF', "Tibetan Machine Uni", Kokonor, "Microsoft Himalaya", sans-serif; 
	font-size: 22px; 
	}






/*  tlreq specific */

.large_example {
	font-size: 32px;
}
.highlight_bo {
	color: red;
}
span[lang=bo], bdi[lang=bo] {
	font-size: 28px;
    }
#terminology_table td {
	border: 1px solid #eee;
}
h3+h3 {
	margin-top: 0;
}
.leadin[lang="bo"] {
	font-size: 20px;
}
.locations td .ex {
    margin-left: 8px;
    font-size: 36px;
	color: #f00;
}
.locations th {
    border: 1px solid #CCC;
    vertical-align: middle;
    height: 40px;
}
.chartable { line-height: 1.4; }
.chartable td { padding: 8px; border: 1px solid #ddd; }
.chartable td :lang(bo) {
    margin-left: 8px;
    font-size: 48px;
	color: #f00;
}
.ipa {
    font-family: doulosipa,"Gentium Plus","Lucida Sans Unicode","Lucida Grande","lucida sans","helvetica",sans-serif;
    font-size: 18px;
}
.ipa::before {
    content: "/";
    font-family: "Helvetica Neue",serif;
    margin-right: 1.5px;
}
.ipa::after {
    content: "/";
    font-family: "Helvetica Neue",serif;
    margin-left: 1.5px;
}



.char_highlight { color: red; }

p { line-height: 2em; }

#character_list_table td {
	vertical-align: top;
	border: 1px solid #eee;
	padding: 0.5em;
	}
#character_list_table:lang(bo) {
	font-size: 1.75em;
	padding: 0.5em;
	}
#character_list_table td td {
	border: none;
	padding: 0.2em;
	font-size: 100%;
	}
#character_list_table th {
	vertical-align: top;
	font-weight: normal;
	text-align: start;
	font-size: 90%;
	font-style: italic;
	}





#langSwitch {
	position: fixed;
	top: -14px;
	z-index: 10000;
	top: 100px;
	right: 10px;
	width: 5em;
	text-align: right;
	}
#langSwitch button {
	background: #FFF none repeat scroll 0% 0%;
	border: 1px solid #CCC;
	border-radius: 5px;
	}

.punctuation {
	border-collapse: collapse;
	}
.punctuation td, .punctuation th {
	border: 1px solid #ddd;
	vertical-align: top;
	padding: 5px;
	}
.punctuation th.topth:lang(en) {
	font-size: 80%;
	padding: 5px;
	vertical-align: bottom;
	text-align: start;
	}

.translateme, .retranslateme {
	background-color: #F3F3C3;
}
.checkme {
	background-color: #BBEFFC;
}

a .fig-title { 
	display: none;
	}
a .figno:after {
	content: '';
	}
ol li {
	list-style-type: lower-alpha;
	}
ol li li { 
	list-style-type: decimal;
	}
ol li li li {
	list-style-type: lower-roman;
	}
.hidden {
	display: none;
	}

.checkme::before {
    content: ' Check this translation: ';
    color: coral;
    border-left: 4px solid coral;
    padding-left: .5em;
	}

.translateme::before {
    content: ' Translate this: ';
    color: coral;
    border-left: 4px solid coral;
    padding-left: .5em;
	}

.retranslateme::before {
    content: ' (Re)translate this: ';
    color: coral;
    border-left: 4px solid coral;
    padding-left: .5em;
	}


.figureSub summary {
    font-weight: normal;
    margin-block-start: -2rem;
    font-size: 80%;
    cursor: pointer;
    text-align: center;
    }






